@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


div#p1 >img{
    width: 280px;
    display: block;
    border-radius: 10px;
    margin: auto;
    padding: auto;
    
}



.gradient {
    background-image: linear-gradient(to bottom,white,#B88F1F);
    background-clip: text;
      -webkit-background-clip: text;  
      -webkit-text-fill-color: transparent;
      color: black;
      background-repeat: no-repeat;
    }

html {
    background-color: #71242500;
    
}
body {
    background-image: linear-gradient(to right,#712425,#331315);
    height: auto;
    width: auto;
}

head{
    background-image: linear-gradient(to right,#712425,#331315);
}
   
    

header{
    
    
    text-align: center;   
    
}

header>h1 {
    padding: 0px 10px 10px 10px;
    text-align: center;  
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.1;
    
}

header>h2 {
    padding: 10px 10px 0px 61px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.1;
    
}
span#burguer{
    background-image: linear-gradient(to right,#712425,#331315);
    background-image: linear-gradient(to bottom,white,#B88F1F);
    background-clip: text;
      -webkit-background-clip: text;  
      -webkit-text-fill-color: transparent;
      color: black;
      background-repeat: no-repeat;
    text-align: center;
    display: block;
    padding: 10px;
    cursor: pointer;
}
span#burguer:hover{
    background-color:#712425;
    color: black;
    
}

menu{
    display: none;
    text-align: center;
    padding-left: 0px;
    
    
   
}
menu > ul{
    list-style-type: none;
    background-image: linear-gradient(to right,#5a1c1d,#270f10);
    
    
}

menu>ul>li>a{
    display: block;
    padding: 10px;
    text-decoration: none;    
    background-color: #33131500;
    color: antiquewhite;
    
    
    
    
}

menu>ul>li> a:hover{
    background-color: #712425;
    border-radius: 10px;
    
}

main{
    width: 90vw;
    height: auto;
    background-image: linear-gradient(to bottom,white,#B88F1F);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-top: 10px;

}

article>h2{
    padding-bottom: 20px;
    font-size: 1.5em;

}
article>p{
    margin: auto;
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    
   
    border-radius: 10px;
    
}
footer{
    background-color: #331315;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
    position: relative;
    top: 141px;
    

} 
footer > p{
    margin: 0px;}

